@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

.flag {
    animation: slidein 2s ease-in-out ;
    width:500px;
    border-radius: 20%;
    ruby-align: center;
    display: block;
    margin: 0 auto;
  }
  
  .View {
    animation: slidein 3s ease-in-out;
    width:500px;
    border-radius: 20%;
  }
  
  @keyframes slidein {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    width:500px;
    border-radius: 20%;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width:500px;
    border-radius: 20%;
    }
  
    to {
      margin-left: 0%;
      width:500px;
    border-radius: 20%;
    }
  }
  img{
    width:500px;
    border-radius: 20%;
    animation: slidein 3s ease-in-out;
    transition: 1s;

  }
  img:hover {
    width:550px
  }
  .une{
    width:400px

  }


  h1{
    text-align: center;
    font-family: 'Mooli';
  }
  p{
    font-family: 'Mooli';
  }
  li{
    font-family: 'Mooli';
  }
  h5{
    font-family: 'Mooli';
  }
  body{
    background-image: url(keytorm.jpg);
  }
h2{
  font-family: 'Mooli';
}
